body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
    }

.Header {
    width: 100%;
    height: 800px;
    display: flex;
    margin: auto;
    margin-top: -80px;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}


.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}


.container-text {
    margin-top: auto;
    width: 494px;
    text-align: right;
    font-style: normal;
    
}

h1 {
    margin: 0;
    font-size: 65px;
    margin-bottom: 30px;

}

p  {
    color: #5e5e5e;
    font-size: 16x;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 55px;
}

a {
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    background: #F15B22;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 26px;

}

.container-failure-image {
    margin: auto;
    margin-top: 150px;
}

.container-failure-text {
    width: 410px;
    margin: auto;
    margin-top: 370px;
    list-style-type: 0;
    color: #5e5e5e;
    font-size: 16x;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}

h2 {
    
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    margin-bottom: 25px;
}

.container-failure-text p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    line-height: 25px;
    
}
ul {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

i {
    width: 20px;
    height: 20px;
    color: #16D887
    
}

.container-icons {
    width: 1600px;
    text-align: center;
    
}

.container .container-icons-grup {
    width: 80%;
    margin: auto;
    display: flex;
    
}

.container-icons-grup {
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;

}

h3 {
    margin: 0;
    color:#151414;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 15px;
}

.container-main {
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.my-plans-icon p {
    margin: 0;
    color:#151414;
    font-size: 23px;
    font-weight: 300;
    line-height: normal;
}

.container-icons-h2 {
    margin: auto;
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
}

.container-watch {
    width: 1140px;
    height: 300px;
    margin: auto;
    align-items: center;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    margin-bottom: 130px;

}

.container-watch-gradient {
    width: 1140px;
    height: 300px;
    background-image: url('../images/gradient2.png');
    margin: auto;
}

.container-watch-text {
    width: 400px;
    height: 100px;
    padding: 50px;
    
}

.container-watch-text h2 {
    color: #FFF;
    margin-bottom: 50px;
}
.container-watch a {
    text-decoration: none;
    color: #F15B22;
    border-radius: 5px;
    background: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 26px;
}

.footer {
    width: 100%;
    margin: auto;
    background-color: #151414;
    width: 1600px;
    height: 508px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    
}

.footer-container-text h2 {
    color: #FFF;
    padding: 20px;
    
}

.footer-container-text p {
    width: 500px;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 30px;
    padding: 20px;
    color: #FFF;
}

.footer_container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.Subscribe {
    display: inline-block;
}

.Subscribe-h3 h3 {
    color:#FFF;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 28px;
}

.input-email{
    margin-bottom: 37px;
}
.Subscribe a {
    text-decoration: none;
    color:#F15B22 ; 
    border-radius: 5px;
    background:#FFF;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 26px;
}

.input-email input {
    width: 320px;
    height: 60px;
    background-color: #151414;
    color: #FFF;
    font-size: 18px;
    border: 2px solid #FFF;
    border-radius: 10px

}

.input-email input {
    font-family: "Work Sans";
    padding-left: 25px;
}

.input-email placeholder {
color: #FFF;
}